sudo: required
dist: trusty

language: java

cache:
  directories:
  - $HOME/.m2

branches:
  only:
    - master

before_install:
  - wget https://archive.apache.org/dist/maven/maven-3/3.3.9/binaries/apache-maven-3.3.9-bin.zip
  - unzip -qq apache-maven-3.3.9-bin.zip
  - export M2_HOME=$PWD/apache-maven-3.3.9
  - export PATH=$M2_HOME/bin:$PATH

install:
  - mvn -B clean install -Dmaven.test.skip.exec

script:
  - mvn -B test -Pjacoco -Pweld -Pstandalone
  - mvn -B test -Pjacoco -Powb -pl envs/se
  - mvn -B test -Pjacoco -Pwildfly-8.x -pl envs/ee
  - mvn -B test -Pjacoco -Pwildfly-9.x -pl envs/ee
  - mvn -B test -Pjacoco -Pwildfly-10.x -pl envs/ee
  - mvn -B test -Pjacoco -Pwildfly-camel -pl envs/ee
  - mvn -B test -Pjacoco -Pkaraf,weld -pl envs/osgi/
# OpenWebBeans faces class proxying issues in OSGi, see OWB-1103
#  - mvn -B test -Pjacoco -Pkaraf,owb -pl envs/osgi/

jdk:
  - openjdk8
  - oraclejdk8

notifications:
  email:
    recipients:
      - antonin.stefanutti@gmail.com

after_success:
  - mvn jacoco:report -pl impl
  - mvn -N coveralls:report